{% extends 'base.html' %}
{% load static %}


{% block links %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block header %}

{% endblock %}


{% block main %}
    <nav class="main-nav flex">
        <h3 class="header-third inline-block">{% block header_name %}404{% endblock %}</h3>
{#        <select class="js-chosen" name="city">#}
{#            <label></label>#}
{#            <optgroup label="Ученые">#}
{#                <option>PHP</option>#}
{#                <option>CSS</option>#}
{#                <option>HTML</option>#}
{#                <option>CSS 3</option>#}
{#                <option>Bootstrap</option>#}
{#                <option>JavaScript</option>#}
{#            </optgroup>#}
{#            <optgroup label="Организации">#}
{#                <option>Java</option>#}
{#                <option>C#</option>#}
{#                <option>Python</option>#}
{#            </optgroup>#}
{#            <optgroup label="Разработки">#}
{#                <option>1</option>#}
{#                <option>2</option>#}
{#                <option>3</option>#}
{#            </optgroup>#}
{#        </select>#}
    </nav>
{% endblock %}


{% block footer %}
    <div class="footer-container">
        <hr class="footer-line">
        <p class="signature">© 2022. Разработано кафедрой РТС МЭИ</p>
    </div>
{% endblock %}
