{% extends 'base_index.html' %}
{% load static %}


{% block links %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock %}


{% block header_name %}О нас{% endblock %}


{% block content %}
    <pre class="about_us-text">
  Наш проект - это единая база данных о научных деятелях отрасли и их разработках.
В перспективе готовый продукт можно будет использовать в профориентационных целях.<br>
  Для удобства использования интерфейс поиска представлен в качестве сайта с визуализацией
взаимосвязей между элементами. Через взаимодействие с интерфейсом сайта и поисковиком можно
получить как краткие описания объектов базы данных, так и более подробные.<br>
  Проект «На плечах гигантов» — это инициатива, которая может положить начало созданию
глобальной базы данных для хранения подобной информации за пределами НИУ МЭИ.
    </pre>

    <hr class="separator">

    <div class="boss">
        <h4 class="four-header">Инициатор создания проекта:</h4>
        <p class="boss-text"> — Куликов Роман Сергеевич</p>
        <p class="boss-text">Директор Института радиотехники и электроники им. В.А. Котельникова</p>
    </div>

    <h4 class="four-header">Команда реализации проекта:</h4>
    <ul class="team">
        <li class="team-item">
            <p> — Владислав Тома — Руководитель проекта</p>
        </li>
        <li class="team-item">
            <p>— Андрей Савицкий </p>
        </li>
        <li class="team-item">
            <p>— Александр Лукин </p>
        </li>
        <li class="team-item">
            <p>— Гэсэр Петрунин </p>
        </li>
        <li class="team-item">
            <p>— Дмитрий Провальский</p>
        </li>
        <li class="team-item">
            <p>— Ярослав Любушкин </p>
        </li>
        <li class="team-item">
            <p>— Данила Кулешов </p>
        </li>
        <li class="team-item">
            <p>— Артём Тверитин </p>
        </li>
    </ul>
{% endblock %}
