<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{#    <canvas id="graph" width="2000" height="1000" style="background-color: antiquewhite"></canvas>#}
{#    <script>#}
{#        var canvas = document.getElementById('graph');#}
{#        var ctx = canvas.getContext('2d');#}
{##}
{#        ctx.beginPath();#}
{#        ctx.strokeStyle = 'orange';#}
{#        ctx.lineWidth = 5;#}
{#        ctx.arc(900, 500, 100, 0, 2 * Math.PI);#}
{#        ctx.stroke();#}
{#    </script>#}

    <div style="margin: 0 auto; width: 100%; height: 100%; background-color: antiquewhite;">

        <figure style="width: 200px; height: 200px; background: orange; border-radius: 50%;
        margin: 6% 50%; text-align: center; font-size: 100px; position: absolute;">окб</figure>

        <ul style="list-style: none">
            {% for organization in organization_list %}
                <li class="organization-item ">
                    <figure style="width: 150px; height: 150px; background: orange; border-radius: 50%;
                    margin: auto; text-align: center; font-size: 40px">ИСЗ “Молния”</figure>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>