{% extends 'base_index.html' %}
{% load static %}


{% block links %}
    <link rel="stylesheet" href="{% static 'css/invention.css' %}">
{% endblock %}


{% block header_name %}Разработка{% endblock %}


{% block content %}
    <div class="scientist-header flex">
        <img  class="scientist-header-img" src="{{ invention.photo.url }}" alt="{{ invention.full_title }}">
        <div class="scientist-description">
            <div class="scientist-name flex">
                <h4 class="four-header">{{ invention.full_title }}</h4>
                <p class="scientist-years">({{ invention.year }})</p>
            </div>

            <hr class="scientist-line">
            <p class="scientist-text">— {{ invention.short_description }}</p>
        </div>
    </div>
        <hr class="scientist-line">

        <div class="scientist-organizations">
            <h5 class="five-header">Организации</h5>
            <ul class="scientist-organizations-list flex scroll">
                {% for organization in organization_list %}
                    <li class="scientist-organizations-item">
                        <a href="{% url 'organization' organization_id=organization.id %}">
                            <h3 class="organization-card-title">{{ organization.short_name }}</h3>
                            <img class="organization-photo" src="{{ organization.logo.url }}"
                                 alt="{{ organization.full_name }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <hr class="scientist-line">

        <div class="scientist-inventions">
            <h5 class="five-header">Исследователи</h5>
            <ul class="scientist-invention-list flex scroll">
                {% for scientist in scientist_list %}
                    <li class="scientist-inventions-item flex">
                        <a href="{% url 'scientist' scientist_id=scientist.id %}" class="scientist-invention-link flex">
                            <h3 class="inventions-card-title">{{ scientist.short_name }}</h3>
                            <figure class="invention-line"></figure>
                            <img class="inventions-photo" src="{{ scientist.photo.url }}"
                                 alt="{{ scientist.full_name }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <hr class="scientist-line">

        <div class="scientist-biography">
            <h5 class="five-header biography">История</h5>
            <p class="scientist-text">{{ invention.full_description|linebreaksbr }}</p>
        </div>
{% endblock %}
