{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/scientists_graph.css' %}">
</head>
<body style="background-color: gray">
    <a href="#" class="scientist absolute" style="top: {{ scientist.top }}px; left: {{ scientist.left }}px">
        <h3 class="scientist-card-title">{{ scientist.object.short_name }}</h3>
        <figure class="scientist-line"></figure>
        <img class="scientist-photo" src="{{ scientist.object.photo.url }}" alt="{{ scientist.object.full_name }}">
    </a>

    <ul>
        {% for invention in invention_list %}
            <li class="absolute" style="top: {{ invention.top }}px; left: {{ invention.left }}px">
                <a href="#" class="invention">
                    <h3 class="invention-card-title">{{ invention.object.short_title }}</h3>
                    <figure class="invention-line"></figure>
                    <img class="invention-photo" src="{{ invention.object.photo.url }}" alt="{{ invention.object.full_title }}">
                </a>
            </li>
        {% endfor %}
    </ul>

    <canvas id="draw-line" width="1000" height="1000"></canvas>
    <script>
        let canvas = document.getElementById('draw-line');
        let ctx = canvas.getContext('2d');
        let scientist_left = 200/2 + {{ scientist.left }};
        let scientist_top = 200/2 + {{ scientist.top }};

        for (coordinate of ({{ coordinates_list }})) {
            ctx.moveTo(scientist_left, scientist_top);
            ctx.lineTo(coordinate[0], coordinate[1]);
            ctx.strokeStyle = "#FF8016";
            ctx.lineWidth = "3";
            ctx.stroke();
        }
    </script>
</body>
</html>