body {
    font-family: 'Raleway', Arial, sans-serif;
    background-color: #3E3E3D;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.body-container {
    width: 1280px;
    margin: 0 auto;
    background-color: #2E2E2D;
}

.main-container {
    min-height: 700px;
    padding: 0 120px 120px 90px;
}
