.scientist-header {
    padding-left: 40px;
    margin-bottom: 30px;
}

.scientist-header-img {
    max-width: 150px;
    margin-right: 30px;
}

.scientist-name {
    margin: 15px 0 30px;
}

.four-header {
    margin: 0;
    margin-right: 20px;
    font-weight: 400;
    font-size: 28px;
    line-height: 20px;
    color: #FF8016;
}

.five-header {
    margin: 0;
    margin-right: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 28px;
    line-height: 20px;
    color: #FF8016;
}

.scientist-years {
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #FF8016;
}

.scientist-line {
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
    height: 2px;
    opacity: 0.6;
    border: none;
    border-radius: 100px;
    background-color: #FF8016;
}

.scientist-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFF;
}

.scientist-organizations,
.scientist-inventions,
.biography {
    padding-left: 30px;
}

.scientist-organizations-list,
.scientist-invention-list {
    padding-left: 40px;
    padding-bottom: 40px;
    overflow-x: auto;
    scrollbar-face-color: #FF8016;

}

.scientist-organizations-item {
    margin-right: 40px;
	border-radius: 33px;
	border: 2px solid #FFF;
	width: 175px;
	height: 175px;
	background: #2E2E2D;
}


.organization-card-title {
	width: 100%;
	min-height: 20px;
	margin: 20px 0 15px;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #FFF;
}

.organization-photo {
	width: 100%;
	max-height: 114px;
	border-radius: 0 0 33px 33px;
}

.organization-line {
	background: #FFF;
	height: 2px;
	width: 100%;
}

.scientist-inventions-item {
    margin-right: 40px;
	border-radius: 33px;
	border: 2px solid #FFF;
	width: 175px;
	height: 175px;
	background: #2E2E2D;
    justify-content: right;
}

.scientist-invention-link {
    justify-content: right;
}

.inventions-card-title {
	width: 2em;
	height: 100%;
	margin-left: 15px;
    margin-right: 3px;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #FFF;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
}

.invention-line {
	width: 3px;
	background: #FFF;
}

.inventions-photo {
	max-width: 100%;
	margin-left: auto;
	margin-right: 0;
	border-radius: 0 30px 30px 0;
}
