{% extends 'base.html' %}
{% load static %}


{% block header %}
    <div class="header-container flex">
        <img class="logo" src="{% static 'images/logo.svg' %}" alt="Логотип">
        <div>
            <div class="flex nav-content">
                <div class="header-headers">
                    <h1 class="header-first">На Плечах Гигантов</h1>
                    <h2 class="header-second">Живая летопись отрасли</h2>
                </div>
                <nav>
                    <ul class="flex">
                        <li class="nav-bar-item">
                            <form action="/ire/contacts" method="get">
                                <button class="nav-button" type="submit">Контакты</button>
                            </form>
                        </li>
                        <li class="nav-bar-item">
                            <form action="/ire/about_us" method="get">
                                <button class="nav-button" type="submit">О нас</button>
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
            <hr class="header-line">
            <p class="header-paragraph">Проект Института радиотехники и электроники имени В.А. Котельникова</p>
        </div>
    </div>
{% endblock %}


{% block main %}
    <nav class="main-nav flex">
        <h3 class="header-third">{% block header_name %}404{% endblock %}</h3>

        <form class="search-form flex" action="{% url 'search' %}" method="get">
            <button class="search-form-button" type="submit" value="Найти...">
                <img src="{% static 'images/search.svg' %}" alt="Лупа поиска">
            </button>
            <figure class="search-line"></figure>
            <label for="search" class="search-label">
                <input class="search-input" type="search" name="q" placeholder="">
            </label>
        </form>
    </nav>

    {% block content %}{% endblock %}

{% endblock %}



{% block footer %}
    <div class="footer-container">
        <hr class="footer-line">
        <p class="signature">© 2022. Разработано кафедрой РТС МЭИ</p>
    </div>
{% endblock %}
